.wrapper>header {
    border: 1px solid;

}

.wrapper>header>.top-header {
    border: 1px solid;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper>header>.top-header>.logo {
    border: 1px solid;
    height: 30px;
    width: 100px;
    align-content: center;
    text-align: center;
    line-height: 30px;
}

.wrapper>header>.top-header>ul {
    border: 1px solid;
    border: 1px solid red;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wrapper>header>.top-header>ul>li {
    border: 1px solid;
    width: 80px;
    position: relative;
    text-align: center;
}

 
.wrapper>header>.top-header>ul>li>a {
    
    display: block;
}

.wrapper>header>.top-header>.sitemenu{
    display: none;
}

.wrapper>header>nav {

}

.wrapper>header>nav>ul {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper>header>nav>ul>li {
    border: 1px solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 120px;
}

.wrapper>header>nav>ul>li>a {
    
    height: 32px;
    display: block;
}

.wrapper>header>nav>ul>li>ul{

    position: relative;
    background-color: white; 
    display: none;
    z-index: 1;
}
.wrapper>header>nav>ul>li>ul>li{
}

.wrapper>header>nav>ul>li>ul>li>a{
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    display: block;
}
.wrapper>header>nav>ul>li:hover ul{
    display: block;

}


